{{#if flash}}
<div class="alert alert-dismissible alert-{{flash.type}}">
<button type="button" class="close"
data-dismiss="alert" aria-hidden="true">&times;</button>
<strong>{{flash.intro}}</strong> {{{flash.message}}}
</div>
{{/if}}

<h1>Welcome to  High Altitude Travel</h1>
<p>Questions? Checkout out our
<a href="/about" data-test-id="about">About Us</a> page!</p>
<a href="/newsletter-signup">Interested in the news letter?</a></br>
<a href="/newsletter">The newsletter, but better!</a></br>
<a href="/vacation-photo">Photo Contest</a> </br>
{{> weather}}