<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Add Bootstrap CSS (choose either the minified or regular version) -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>High Altitude Travel</title>
        {{{_sections.head}}}
    </head>
    <header>
        <img src="/img/logo.png" alt="Steamboat Logo">
    </header>
    <body style="width: 75%; margin: auto;">

        {{{body}}}
        {{{_sections.scripts}}}
    </body>
    <!-- Add Bootstrap JavaScript (optional, but required for certain components) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>