<!-- remember this goes within the layout -->
<h2>Tell us about yourself</h2>
<form action="/form-example" method="post">
    <div>
        <label>Your Name: <input name="name"/></label>
    </div>
    <br/>
    <div>
        <label>Your Email: <input name="email" type=""email/></label>
    </div>
    <br/>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>