<h2>Greetings</h2>

<dd>
    <dt>Message:</dt>
    <dd>{{message}}</dd> <br/>
    
    <dt>User ID from cookie: </dt>
    <dd>{{userid}}</dd> <br/>
    <a href="/rand-id">Click me for a new random ID</a>

    <dt>Username: </dt>
    <dd>{{username}}</dd>
    <a href="/rand-name">Click me for a new random username</a>
</dd>
