<h1>Welcome to  High Altitude Travel</h1>
<p>Questions? Checkout out our
<a href="/about" data-test-id="about">About Us</a> page!</p>
<a href="/newsletter-signup">Interested in the news letter?</a></br>
<a href="/newsletter">The newsletter, but better!</a></br>
<a href="/vacation-photo">Photo Contest</a> </br>
<a href="/vacations">Vacation Packages!</a>
{{> weather}}